{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('benchmark') }}">Benchmark Result</a>
        </li>
    </ul>
</nav>

<form action="{{ url_for('benchmark') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="container mt-4">
        <div class="text-center darken-grey-text mb-4">
            <h1 class="font-bold mt-4 mb-3 h5">Input search term 1</h1>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="text" name="term1" value="brother">
                    <label>For example: brother</label>
                </div>
            </div>
        </div>
        <div class="text-center darken-grey-text mb-4">
            <h1 class="font-bold mt-4 mb-3 h5">Input search term 2</h1>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="text" name="term2" value="water">
                    <label>For example: water</label>
                </div>
            </div>
            <button class="btn btn-success">Search <i class="fa fa-search"></i>
        </div>
    </div>
</form>
{% endblock %}
